<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/addpost.css">
</head>

<body>
    <div id="main">
        <form action="/addpostHandle" method="POST">

            <h2>标题</h2>
            <input type="text" name="title" maxlength="100" placeholder="最多100字" class="title-input">

            <h2>内容</h2>
            <textarea name="content" id="" cols="30" rows="10" class="content-input"></textarea>
            <div class="tags">
                <div class="tag">
                    <input type="checkbox" name="tags" value="JavaScript"> <span>JavaScript</span>
                </div>
                <div class="tag">
                    <input type="checkbox" name="tags" value="CSS"><span>CSS</span>
                </div>
                <div class="tag">
                    <input type="checkbox" name="tags" value="Node.js"><span>Node.js</span>
                </div>
                <div class="tag">
                    <input type="checkbox" name="tags" value="Vue.js"><span>Vue.js</span>
                </div>
                <div class="tag">
                    <input type="checkbox" name="tags" value="React"><span>React</span>
                </div>
                <div class="tag">
                    <input type="checkbox" name="tags" value="ECMA6"><span>ECMA6</span>
                </div>
                <div class="tag">
                    <input type="checkbox" name="tags" value="设计模式"><span>设计模式</span>
                </div>
                <div class="tag">
                    <input type="checkbox" name="tags" value="面向对象"><span>面向对象</span>
                </div>
                <div class="tag">
                    <input type="checkbox" name="tags" value="函数式编程"><span>函数式编程</span>
                </div>
            </div>

            <button class="publish-btn">提交</button>
        </form>
    </div>

</body>

</html>