<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/addpost.css">
</head>

<body>
    <form action="/addpostHandle" method="POST">
        <label for="title">
            <span>标题</span>
            <input type="text" name="title" maxlength="100" placeholder="最多100字">
        </label>
        <label for="title">
            <span>内容</span>
            <input type="text" name="content">
        </label>
        <div class="tags">
            <input type="checkbox" name="tags" value="JavaScript">JavaScript
            <input type="checkbox" name="tags" value="CSS">CSS
            <input type="checkbox" name="tags" value="Node.js">Node.js
            <input type="checkbox" name="tags" value="Vue.js">Vue.js
            <input type="checkbox" name="tags" value="React">React
            <input type="checkbox" name="tags" value="ECMA6">ECMA6
            <input type="checkbox" name="tags" value="设计模式">设计模式
            <input type="checkbox" name="tags" value="面向对象">面向对象
            <input type="checkbox" name="tags" value="函数式编程">函数式编程
        </div>

        <button>提交</button>
    </form>
</body>

</html>