<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/addpostHandle" method="POST">
        标题<input type="text" name="title">
        简介<input type="text" name="profile">
        内容<input type="text" name="content">
        <div>标签</div>
        <input type="checkbox" name="tags" value="JavaScript">JavaScript
        <input type="checkbox" name="tags" value="CSS">CSS
        <input type="checkbox" name="tags" value="Node.js">Node.js
        <input type="checkbox" name="tags" value="Vue.js">Vue.js
        <input type="checkbox" name="tags" value="React">React
        <input type="checkbox" name="tags" value="ECMA6">ECMA6
        <input type="checkbox" name="tags" value="设计模式">设计模式
        <input type="checkbox" name="tags" value="面向对象">面向对象
        <input type="checkbox" name="tags" value="函数式编程">函数式编程
        <button>提交</button>
    </form>
</body>

</html>