<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="'iceream的练习册'是一个个人网站，记录了一些前端的小项目。">
    <meta name="keywords" content="iceream的练习册,JavaScript,前端,个人网站,CSS,iceream">
    <meta name="theme-color" content="#fff" />
    <title>iceream’s blog</title>
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/index.css">
</head>

<body>
    <div id="app">
        <!-- 顶部导航栏，默认隐藏 -->
        <nav id="nav">
            <img class="menu-btn" src="/public/images/menu.png" alt="">
            <span class="site-name"></span>
            <img class="day-night" src="/public/images/day-night.png" alt="">
            <!-- 菜单，默认隐藏 -->
            <div id="menu">
                <ul>
                    <li class="sidebar-nav-item"><a href="">主页</a></li>
                    <li class="sidebar-nav-item"><a href="">关于</a></li>
                    <li class="sidebar-nav-item"><a href="">标签</a></li>
                    <li class="sidebar-nav-item"><a href="">搜索</a></li>
                    <li class="sidebar-nav-item"><a href="/login">登录</a></li>
                    <li class="sidebar-nav-item"><a href="/register">注册</a></li>
                    <li class="sidebar-nav-item"><a href="/addpost">发布</a></li>
                </ul>
            </div>
        </nav>

        <!-- 中心内容 -->
        <div id="big-box" class="clearfix">
            <!-- 一、侧面导航 -->
            <nav id="sidebar">
                <!-- 1.头 -->
                <div class="head">
                    <a href="/" class="logo"><img src="/public/images/logo.png" alt=""></a>
                    <span class="site-name">iceream's blog</span>
                </div>
                <!-- 2.个人信息 -->
                <div class="profile">
                    <div class="avatar">
                        <img src="/public/images/avatar.jpeg" alt="">
                    </div>
                    <div class="nickname">iceream</div>
                    <div class="outcome">
                        <div class="demo">
                            <strong>29</strong>
                            <span>项目</span>
                        </div>
                        <div class="post">
                            <strong>99</strong>
                            <span>博文</span>
                        </div>
                    </div>
                    <div class="social">
                        <a href="https://github.com/iceream" target="_blank"><img class="github"
                                src="/public/images/github.png" alt=""></a>
                    </div>
                </div>
                <!-- 3.导航 -->
                <ul class="sidebar-nav">
                    <li class="sidebar-nav-item"><a href="">主页</a></li>
                    <li class="sidebar-nav-item"><a href="">关于</a></li>
                    <li class="sidebar-nav-item"><a href="">标签</a></li>
                    <li class="sidebar-nav-item"><a href="">搜索</a></li>
                    <li class="sidebar-nav-item"><a href="/login">登录</a></li>
                    <li class="sidebar-nav-item"><a href="/register">注册</a></li>
                    <li class="sidebar-nav-item"><a href="/addpost">发布</a></li>
                </ul>
            </nav>

            <!-- 二、内容 -->
            <div id="main">
                <ul class="content ">
                    {% for post in posts %}
                    <li class="content-item">
                        <a class="title" href="/posts/{{post.id}}">{{post.title}}</a>
                        <p class="profile">{{post.profile}}</p>
                        <div class="foot">
                            <div class="foot-item">{{post.time}}</div>
                            <div class="foot-item tags">
                                {% for tag in post.tags %}
                                <span class="tag">{{tag}}</span>
                                {% endfor %}

                            </div>
                        </div>
                    </li>
                    {% endfor %}

                </ul>
            </div>
        </div>

        <!-- 底部信息 -->
        <div id="footer">
            <span>备案号：</span>
            <a href="http://beian.miit.gov.cn/" id="beian">桂ICP备19009961号</a>
        </div>
        <!-- 右下角工具栏，夜间模式切换，返回顶部 -->
        <div id="tools">
            <div>
                <a href="#"><img class="up" src="/public/images/up.png" alt=""></a>
            </div>
            <div>
                <img class="day-night" src="/public/images/day-night.png" alt="">
            </div>
        </div>
    </div>
</body>
<script src="/public/js/daynight.js"></script>
<script src="/public/js/index.js"></script>

</html>