<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="/public/css/login.css" />
</head>

<body>


    <div id="main">

        <div id="login" class="panel">
            <h2>登录</h2>
            <form action="/loginHandle" method="POST">
                <div class="form-item">
                    <label>
                        <!-- <span class="txt">账号:</span> -->
                        <input type="text" class="form-input" name="username" placeholder="账号">
                    </label>
                </div>
                <div class="form-item">
                    <label>
                        <!-- <span class="txt">密码:</span> -->
                        <input type="password" class="form-input" name="password" placeholder="密码">
                    </label>
                </div>
                <div class="form-item">
                    <label>
                        <button class="form-button primary">登录</button>
                    </label>
                </div>
            </form>
        </div>

    </div>

</body>

</html>