body {
  background-color: #353D46;
}
.content-box {
  margin: 1rem 15%;
  display: flex;
  flex-direction: column;
}
.content-box .title {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: skyblue;
}
.content-box .content {
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: lighter;
  color: #ebebeb;
}
.content-box .paragraph {
  margin: 0.5rem 0;
  text-indent: 2em;
}
.content-box .foot {
  display: flex;
  flex-direction: column;
  color: #ccc;
}
.content-box .foot .foot-item {
  font-weight: lighter;
  margin: 0.5rem 0;
}
.content-box .foot .foot-item:nth-child(1) {
  flex: 1;
  height: 1rem;
  line-height: 1rem;
}
.content-box .foot .foot-item:nth-child(2) {
  flex: 1;
  color: skyblue;
  height: 1rem;
}
.content-box .foot .foot-item:nth-child(2) .tag {
  margin: 0 0.5rem 0 0;
}
@media screen and (max-width: 760px) {
  .content-box {
    margin: 0 10%;
    padding: 0.5rem;
  }
  .content-box .title {
    font-size: 1.3rem;
  }
  .content-box .content {
    font-size: 1rem;
  }
}
@media screen and (max-width: 560px) {
  .content-box {
    margin: 0;
    padding: 0.8rem;
  }
  .content-box .title {
    font-size: 1.2rem;
  }
  .content-box .content {
    font-size: 1rem;
  }
}
