* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
html {
  font-family: Helvetica;
  font-size: 16px;
  color: #000;
}
body {
  margin: 0;
  background-color: #708090;
  color: #fff;
}
/* 导航栏 */
#nav {
  width: 100%;
  height: 3.2rem;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  background-color: #353d46;
}
#nav .menu-btn {
  width: 2rem;
  height: 2rem;
  margin: 0.6rem 1rem;
  cursor: pointer;
}
#nav #menu {
  position: absolute;
  top: 3.1rem;
  left: 0;
  margin: 0;
  padding: 0;
  width: 50%;
  height: 100vh;
  background-color: #353d46;
  opacity: 0.8;
  display: none;
}
#nav #menu ul {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}
#nav #menu ul li {
  height: 3.8rem;
  line-height: 3.8rem;
  padding: 0 1.2rem;
}
#nav #menu ul li img {
  vertical-align: middle;
  width: 1.2rem;
  height: 1.2rem;
}
#nav #menu ul li a {
  vertical-align: middle;
  display: inline-block;
  margin: 0 1rem;
}
#nav #menu ul li:hover {
  background-color: skyblue;
}
#nav #menu ul li:hover {
  background-color: skyblue;
}
#nav .site-name {
  line-height: 3.8rem;
  position: absolute;
}
#nav .day-night {
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 0;
  line-height: 3rem;
  margin: 0.6rem 0.7rem;
  cursor: pointer;
}
#big-box {
  margin: 0 10%;
}
#sidebar {
  width: 240px;
  margin-right: 8px;
  float: left;
  position: fixed;
}
#sidebar .head {
  width: 100%;
  height: 4rem;
  background-color: #1a1a1a;
  text-align: center;
}
#sidebar .head * {
  vertical-align: middle;
}
#sidebar .head .logo {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 1rem 0;
  cursor: pointer;
}
#sidebar .head .logo img {
  width: inherit;
}
#sidebar .head .site-name {
  color: #f0eaea;
  font-size: 1.1rem;
}
#sidebar .profile {
  display: flex;
  background: #353d46;
  flex-direction: column;
  align-items: center;
}
#sidebar .profile .avatar {
  width: 100%;
  padding: 20px 70px 10px;
}
#sidebar .profile .avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
#sidebar .profile .nickname {
  color: nightBg;
  font-size: 1.3rem;
}
#sidebar .profile .outcome {
  display: flex;
  font-size: 1rem;
}
#sidebar .profile .outcome > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
#sidebar .profile .social {
  margin: 0.5rem 0 2rem 0;
}
#sidebar .profile .social img {
  width: 2rem;
  border-radius: 50%;
  margin: 0 0.5rem;
}
#sidebar .sidebar-nav {
  display: flex;
  flex-direction: column;
  background: #353d46;
  margin-top: 0.5rem;
}
#sidebar .sidebar-nav .sidebar-nav-item {
  width: inherit;
  height: 2.4rem;
  line-height: 2.4rem;
  padding: 0 2rem;
}
#sidebar .sidebar-nav .sidebar-nav-item img {
  vertical-align: middle;
  width: 1.2rem;
  height: 1.2rem;
}
#sidebar .sidebar-nav .sidebar-nav-item a {
  vertical-align: middle;
  display: inline-block;
  margin: 0 1rem;
  width: 7rem;
}
#sidebar .sidebar-nav .sidebar-nav-item:hover {
  background-color: #4e4e4e;
}
/* 内容 */
#main {
  float: right;
  width: calc(100% - 248px);
  background: #353d46;
  min-height: 100vh;
  padding: 2rem 0;
  color: #fff;
}
#main .content-item {
  margin: 0rem 1rem;
  padding: 1rem 3rem;
}
#main .title {
  font-size: 2rem;
  color: skyblue;
}
#main .title:hover {
  border-bottom: 2px solid skyblue;
}
#main .profile {
  font-size: 1.2rem;
  font-weight: lighter;
  margin: 0.5rem 0;
}
#main .profile .dot {
  color: skyblue;
}
#main .preview .preview-img {
  width: 100%;
  border-radius: 0.2rem;
}
#main .foot {
  display: flex;
  flex-direction: column;
  color: #ccc;
}
#main .foot .foot-item {
  margin: 0.5rem 0;
}
#main .foot .foot-item:nth-child(1) {
  flex: 1;
  height: 1rem;
  line-height: 1rem;
}
#main .foot .foot-item:nth-child(2) {
  flex: 1;
  color: skyblue;
  height: 1rem;
}
#main .foot .foot-item:nth-child(2) .tag {
  margin: 0 0.5rem 0 0;
}
#main .foot .foot-item:nth-child(2) a:hover {
  border-bottom: 2px solid skyblue;
}
#fenye {
  height: 2rem;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#fenye .fenye {
  display: flex;
  justify-content: center;
  align-items: center;
}
#fenye .fenye li {
  width: 2rem;
  height: 2rem;
  margin: 0 0.1rem;
  text-align: center;
  line-height: 2rem;
  cursor: pointer;
}
#fenye .fenye li .current {
  color: skyblue;
}
#fenye .prev,
#fenye .next {
  width: 2rem;
  height: 2rem;
  margin: 0 0.1rem;
  text-align: center;
  line-height: 2rem;
  color: skyblue;
  cursor: pointer;
}
/* 底部 */
#footer {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer a {
  font-weight: lighter;
}
#tools {
  position: fixed;
  width: 2.5rem;
  height: 5rem;
  background-color: red;
  bottom: 3rem;
  right: 2rem;
}
#tools > * {
  width: 2.5rem;
  height: 2.5rem;
  background-color: white;
  cursor: pointer;
}
#tools .up {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.2rem;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: skyblue;
}
#tools .day-night {
  width: 2.5rem;
  height: 2.5rem;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: skyblue;
}
@media screen and (max-width: 1024px) {
  #big-box {
    margin: 0 1rem;
  }
}
@media screen and (max-width: 960px) {
  #big-box {
    margin-top: 4.2rem;
  }
  #sidebar {
    display: none;
  }
  #main {
    width: 100%;
  }
  #nav {
    display: block;
  }
  #tools {
    display: none;
  }
}
@media screen and (max-width: 760px) {
  #big-box {
    margin-top: 3.7rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    transition: all linear 0.2s;
  }
}
@media screen and (max-width: 560px) {
  #big-box {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1rem;
  }
  #main .title {
    font-size: 1.2rem;
  }
  #main .profile {
    font-size: 1rem;
  }
  #main .content-item {
    margin: 0 1rem;
    padding: 1rem 1.5em;
  }
  #main .foot {
    font-size: 0.8rem;
  }
}
